# Корневой файл EditorConfig
root = true

# Для всех файлов используем...
[*]
# ...отступы в 4 пробела
indent_style = space
indent_size = 2
# ...unix-совместимые переносы строк
end_of_line = lf
insert_final_newline = true
# ...
charset = utf-8
trim_trailing_whitespace = true
